.nuxt-content-container, .nuxt-content {
  h5 {
    font-size: 24px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: -moz-arabic-indic;
  }

  li {
    margin-left: 32px;
  }
}
